html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    text-align: center;
    background-color: #212121;
    border-radius: 0 0px 20px 20px;
    box-shadow: 3px 5px 2px black;
    margin: 0;
    padding-top: 50px;
}

header h1 {
    padding-bottom: 75px;
    color: whitesmoke;
}

header h1:hover{
    color: rgb(37, 123, 251);
}
section{
    float: left;
    color: rgb(123, 10, 10);
    margin: 0;
    margin-left: 30%;
    text-align: center;

}

section h1 {
    font-size: 70px;

}

section h1:hover{
    color: rgb(244, 237, 34);
}

footer{
    position: absolute;
    top: 680px;
    background-color: bisque;
    width: 100%;
   background-color: #212121;
   color: rgb(164, 38, 38);
}